{% load static %}
{%include 'Header.html' %}
{%include 'navbar.html' %}

    <style type="text/css">
      .btn-block {
        background: #74B865;
      }
     </style>
  </head>
  <body>
    
    <div class="container">

      <section style="margin-top: 30px;">
        <div style="margin-bottom: 20px;">

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="text-primary" >Dream House</h2>


          <h5 class="text-primary" >A Better Way to Real Estate</h5>
          <h5 class="card-text text-dark">Tranzon is a cooperative partnership of real estate professionals all over the country who are dedicated to providing you with a better way to buy and sell real estate.</h5>

          <p class="card-text">In 1997, a small group of real estate auctioneers — each separated by geography and specialty — realized they shared a common vision: to combine each of their areas of regional expertise with the power and reach of a nationwide professional network for the purpose of bringing real estate buyers and sellers together.</p>

          <p class="card-text">Today, the Tranzon team includes some of the most highly experienced real estate, marketing, and auction professionals in the country. We provide national auctions, local expertise, and exceptional service, with an unmatched reputation for excellence and integrity. Tranzon's Market-Making SystemTM, our proven methodology for the accelerated sale of real estate, has been delivering results for over 20 years.</p>        

          <p class="card-text">Whether you're buying property or looking to sell, learn more about the benefits Tranzon has to offer. You can also learn more about how to join our team.</p>

          

        

            <fieldset>
              <div class="efield ewidth-50 evalid evalid-required" style="float: left">
          <button class="btn btn-warning btn-block mt-3">BENEFITS FOR SELLERS</button> </div>
        

          <div class="efield ewidth-50 evalid evalid-required" style="float: right">
          <button class="btn btn-warning btn-block mt-3">BENEFITS FOR BUYERS</button> </div>
        
            </fieldset>
            </div>
            </div>
            </div></div>
        
{%include 'Footer.html' %}




    
        




    



