{% load static %}
{%include 'Header.html' %}
{%include 'NavBar.html' %}


<style type="text/css">
        
</style>
  </head>
  <body>

    <div class="container">
        <section style="margin-top: 30px;">
            <div class=" card-mb-3">
                <div class="card-body">
            
          <h5 class="card-text text-primary">About Real Estate Auctions</h5>

          <p class="card-text">Property auctions are one of the best and most efficient ways to buy and sell all types of properties. Real estate auction procedures might sound intimidating to a first-time buyer or seller, but the process is actually quite simple and transparent.</p>
          <section style="margin-top: 30px;"></section>

         <div>
          <video src="{% static 'images/videos/agent video.mp4' %}" class="d-block w-50" class="video-fluid" autoplay muted  allowfullscreen controls> 
          </div>

          <section style="margin-top: 30px;"></section>
          <h5 class="card-text text-primary">Auctions in Action</h5>

          <p class="card-text">Real estate auctions are all about action: bringing sellers and buyers together to take initiative on the sale of real estate. Once a property is listed, the seller and their Tranzon representative will agree on a date for the bidding to conclude (in the case of an online auction) or the auction to be held (in the case of a live auction). Then a customized budget and marketing strategy is implemented, exposing the property and providing information to prospective buyers in advance of the auction. On auction day, bidders log in or show up in person to bid on the real estate. For the winning bidder, the process from contract to closing is well defined and begins immediately.</p>

          <p class="card-text"></p>Whether you are buying or selling, whether on-site or online, auctions are a game-changer in real estate. Explore how Tranzon's Market-Making SystemTM works, and enjoy the benefits of buying and selling your property using the real estate auction process.</p>

          <p class="card-text">There are many ways to conduct the real estate auction process, but by definition, an auction is any sale in which buyers compete (or "bid") to determine the price of an asset being sold. The auction method has been around for centuries, and it continues to thrive because it is one of the fairest and most transparent ways to conduct a sale. Many participants also find the process enjoyable and reassuring as the competition creates excitement and the purest form of market price discovery.</p>

    </div>
     </section>

          
        <section style="margin-top: 30px;">
          <div class="card mb-3">

            <div class="card-body">

          <h5 class="card-text text-primary">About Real Estate Auctions</h5>

          <p class="card-text">Property auctions are one of the best and most efficient ways to buy and sell all types of properties. Real estate auction procedures might sound intimidating to a first-time buyer or seller, but the process is actually quite simple and transparent.</p>
          <section style="margin-top: 30px;"></section>

         <div>
          <video src="{% static 'images/videos/background vid.mp4' %}" class="d-block w-50" alt="" class="video-fluid" autoplay muted  allowfullscreen controls> 
          </div>

          <section style="margin-top: 30px;"></section>
          <h5 class="card-text text-primary">How Do Real Estate Auctions Work for Buyers?</h5>

          <p class="card-text">Samantha Kelley, from Tranzon Auction Properties, explains the value our real estate auctions have for buyers and sellers.

          </p>

          <p class="card-text">Here are the simple steps you'll take as a buyer in the real estate auction procedure</p>

          <h5 class="card-text text-dark">Find property:</h5><p class="card-text"> Search for the type of property you're looking for — we list all kinds of real estate, including residential, commercial, industrial, and land. And when you register to receive notification of new Tranzon property listings, you can select what type of properties in what locations you'd like to be notified about when they become available.</p>

          <h5 class="card-text-dark">Conduct research:</h5><p class="card-text">Tranzon provides data about all our listed properties in a downloadable document called the Property Information Package (PIP), and most properties are available for you to take a tour at specific times or otherwise as listed. You'll need to make sure you understand all the documents, details and fees before placing your bids. If you have any questions at all about the property or the terms of sale, our auction professionals are available and happy to assist.</p>

          <h5 class="card-text-dark">Register to build:</h5><p class="card-text"> If the auction is held online, you'll typically use an online registration link to request approval to bid. For a live auction, you'll register in advance or at the auction's location. Some auctions require a bidding deposit in order to bid. The PIP offers more information about bidding requirements, and our contact agent for the property can walk you through registration and approval or answer any questions you may have.</p>

          <h5 class="card-text-dark">Attend the auction and bid:</h5>Check in online or show up in person before the auction is set to start, and then go ahead and start bidding!<p class="card-text"></p>

          <h5 class="card-text-dark">Win:</h5><p class="card-text"> The high bidder is determined by who has placed the highest bid prior to the close of the auction, whether live or online. In an absolute auction meaning an auction in which there is no, the highest bidder will be provided a contract for signature and instructions for submitting any required earnest money deposit. In a reserve auction, a determination is made as to whether the high bid has reached an acceptable price for seller acceptance. In either situation, one of our agents will provide you with instructions on the next steps to take in the post-auction process. Closing typically occurs within 30 to 45 days after the sale.</p>

          
          <section style="margin-top: 30px;"></section>
          <h5 class="card-text text-primary">Selling Your Property at Auction</h5>

          <p class="card-text">Auctioning your property is simple — Tranzon's agents and auctioneers take care of the little details for you. Here are the steps you and your Tranzon auction professional will take to sell your property at auction:</p>

          <h5 class="card-text text-dark">Discuss your terms:</h5>After you and your agent decide that selling your property at auction is the best way to meet your goals and situation, you can discuss your terms and ideal timeline. The auctioneer will give you recommendations for structuring the sale in a way that best combines your goals and needs with market conditions and buyer interest.<p class="card-text"></p>

          <h5 class="card-text-dark">Market your real estate:</h5>Tranzon's experts will work with you to create the most effective outreach and marketing strategy, and then we'll get to work — proactively and effectively marketing to a targeted spectrum of investors and end-users across the country.<p class="card-text"></p>

          <h5 class="card-text-dark">Auction your real estate:</h5><p class="card-text">On the date of the auction, your auctioneer will be ready to auction your property online, in person or both. Interested bidders will compete, coming together to bid in an open, transparent, and market-driven process.</p>

          <h5 class="card-text-dark">Close:</h5>When the high bid is determined, we'll assist you as you take the necessary steps to close on your property. In an absolute auction, the purchase agreement will be signed immediately. If your auction has a reserve, we'll review the high bid with you and walk you through the next steps you can take. Real estate sold at auction is sold as-is, without contingencies — so you don't have to worry about additional inspections, price or fee negotiations, or other slowdowns to the closing process.<p class="card-text"></p>

          </div>
        


</div> 
</div>
</section>


{%include 'Footer.html' %}

