{% load static %}
{%include 'Header.html' %}
{%include 'NavBar.html' %}

</head>
  <body>

    <div class="container">
        <section style="margin-top: 30px;">
            <div class=" mb-3">
                <div class="card-body">
            
          <h5 class="card-text text-primary">JOIN US</h5>

          <p class="card-text">Tranzon is looking to expand and add auction professionals to our growing team. We're always looking to grow with the market, and our extensive national reach allows us to partner with talented auction and real estate professionals like you from across the country.</p>
          <section style="margin-top: 30px;"></section>
          
          <p class="card-text">With some of the best auction professionals and firms in every region of the country, Tranzon provides the advantages of a large national company, while preserving the local marketing knowledge and entrepreneurial environment that defines the industry. Tranzon is truly A BETTER WAY TO REAL ESTATE.</p>
          
          <section style="margin-top: 30px;"></section>
          
          <p class="card-text">No matter where you are in the U.S., you might be the right partner to make our team even stronger and offer our clients a more extensive and comprehensive service reach. Contact us today to find out more about working with a fantastic group of national experts dedicated to marketing and selling our clients' properties in the shortest possible time, for the highest possible price.</p>

         <div>
          <video src="{% static 'images/videos/background vid.mp4' %}" class="d-block w-50" alt="" class="video-fluid" autoplay muted > 
          </div>

          <section style="margin-top: 30px;"></section>
          <h5 class="card-text text-primary">About Our Team</h5>

          <p class="card-text">In 1997, a small group of real estate auctioneers across the country combined their industry experience and local expertise to bring together property buyers and sellers nationwide. Today, more than 20 years later, Tranzon has grown into one of the most experienced -- and most trusted -- names in the world of professional real estate auctioning services. Our staff works together as a team to tackle complex projects and find and target the right bidders for clients' properties.</p>

          <p class="card-text"></p>We operate corporate offices in AL, CA, FL, KY, ME, PA, TX and VA, and the reach of our network of independently owned and operated member companies extends to virtually all corners of the U.S. We offer coast-to-coast services that enhance our reputation as one of the most trusted names in the professional auction industry.</p>

          <p class="card-text">Throughout our decades of business, we've worked with Fortune 500 companies, and multinational institutions as well as private individuals and investors to offer leading innovative solutions for buying and selling commercial and residential real estate. Our unmatched expertise and proven-effective Market-Making System™ allow us to create the best solutions for our clients. Through this innovative methodology, we've helped thousands of home and business owners, financial institutions, and investors accelerate their property sales and get the best return for their assets.</p>

          <section style="margin-top: 30px;"></section>
          <h5 class="card-text text-primary">Experience the Benefits of Joining a National Auction Company</h5>

          <p class="card-text">Sell real estate more quickly and meet your clients' needs more effectively by joining the Tranzon team. Real estate brokers and auctioneers enjoy many benefits when working with Tranzon, including:</p>

          <p class="card-text">Access to a local, nationwide and international database of property buyers</p>
          <p class="card-text">Connection to an extensive network of fellow professional auction professionals</p>
          <p class="card-text">Accelerated property sales with Tranzon's effective Market Making System™ and aggressive personalized marketing techniques</p>
          <p class="card-text">Enhanced professional image associated with Tranzon's unmatched reputation and expertise</p>

          <h5 class="card-text text-primary">Become a Real Estate Auctioneer With Tranzon</h5>

          <p class="card-text">We'd love to talk to you about how we can help each other. We're always looking for real estate auctioneers and other professionals for our growing nationwide team. If you are interested in joining the Tranzon Team or would like to have your real estate auction company join the Tranzon franchise of independently owned and operated companies,<a href="#" >Contact_Us</a>
          </p>


</div>
</div>
    </div>
    <div>
</div>
     </section>

          

{%include 'Footer.html' %}


