<style>
.footer {
  background: black;
  padding: 90px 0;
  color: white;
}

.footer .footer-col {
  width: 20%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}

.footer-col ul {
  list-style: none;
  padding-left: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer-col .socials-links a {
  margin: 0 8px;
  font-size: 22px;
  display: inline-block;
  transition: 0.3s ease;
  color: #bbb;
}

.footer-col .socials-links a:hover {
  transform: translateY(-5px);
  color: #ff9800;
}

/* ✅ Responsive */
@media (max-width: 992px) {
  .footer .footer-col {
    width: 33%;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .footer .footer-col {
    width: 50%;
    margin-bottom: 25px;
  }
}

@media (max-width: 400px) {
  .footer .footer-col {
    width: 100%;
    text-align: center;
  }
}
</style>


<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="footer-col">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="hom">Home</a></li>
          <li><a href="home">Buying</a></li>
          <li><a href="sellft">Selling</a></li>
          <li><a href="cont">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>About</h4>
        <ul>
          <li><a href="abtac">About Auction</a></li>
          <li><a href="abtus">About Join Us</a></li>
          <li><a href="abt">About Us</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Buying</h4>
        <ul>
          <li><a href="sellft">Flat</a></li>
          <li><a href="home">House</a></li>
          <li><a href="byapp">Apartment</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Selling</h4>
        <ul>
          <li><a href="sellft">Flat</a></li>
          <li><a href="sell">House</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="tel:0512-587-925">+91 0512-587-925</a></li>
          <li><a href="mailto:abhisheksrivastavaas095@gmail.com">abhisheksrivastavaas095@gmail.com</a></li>
          <li><a href="/cont">3015 Ground Floor</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="socials-links">
          <a href="https://www.facebook.com/login.php/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://x.com/@Abhisri98"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="https://www.linkedin.com/in/abhishek-srivastava-a2a111288/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>

    </div>

    <hr style="border-color: #333; margin: 20px 0;">

    <p class="text-center" style="color: #bbb; margin: 0;">
      All material herein © 2023 Abhishek Srivastava | All Rights Reserved. @Dream House
      <br>Agoda is part of Booking Holdings Inc., the world leader in online travel & related services.
    </p>

  </div>
</footer>
